@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

/* Background */
body:not(.no-sidebars) {  background: transparent; } 

#pardot-form h1,#pardot-form h2,#pardot-form h3,#pardot-form h4,#pardot-form h5,#pardot-form h6,.home #pardot-form label { 
	/* text-align: center; */
	color: #00adef;
}
#pardot-form h6 { font-size: 14px; }

#pardot-form .required label:after {content: ' *';color: #5F82DB; font-weight: bold;}
#pardot-form label {color: #9a9a9a !important;}

#pardot-form p.errors,
#pardot-form .error.no-label { display: none; }

#pardot-form .form-field {margin-bottom: 0;}

#pardot-form input[type=text] {margin-bottom: 0.5em;}

#pardot-form input[type=submit] {
	display: block;
	width: 100%;
	background-color: #5F82DB;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 2px;
	border-radius: 2px;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	font-size: 20px;
	line-height: 36px;
	color: white;
	font-weight: bold;
	margin-top: 16px;
  cursor: pointer;
}

#pardot-form input[type=submit]:hover {
  background: #007095;
}
#pardot-form input[type=submit]:active {
  background: #005279;
}
#pardot-form p.submit { margin-bottom: 0; }

label {
font-size: 0.875em;
color: #4d4d4d;
cursor: pointer;
display: block;
font-weight: 500;
margin-bottom: 0.1875em;
}
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family:"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
background-color: #fff;
font-family: inherit;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
color: rgba(0,0,0,0.75);
display: block;
font-size: 0.875em;
margin: 0 0 1em 0;
padding: 0.5em;
height: 2.3125em;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
